<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="wypozyczone">
            <h2><span jhiTranslate="bibliotekaTimApp.wypozyczone.detail.title">Wypozyczone</span> {{wypozyczone.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="bibliotekaTimApp.wypozyczone.datawypozyczenia">Datawypozyczenia</span></dt>
                <dd>
                    <span>{{wypozyczone.datawypozyczenia}}</span>
                </dd>
                <dt><span jhiTranslate="bibliotekaTimApp.wypozyczone.dataoddania">Dataoddania</span></dt>
                <dd>
                    <span>{{wypozyczone.dataoddania}}</span>
                </dd>
                <dt><span jhiTranslate="bibliotekaTimApp.wypozyczone.uzytkownik">Uzytkownik</span></dt>
                <dd>
                    <span *ngFor="let uzytkownik of wypozyczone.uzytkowniks; let last = last">
                        {{uzytkownik.login}}{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="bibliotekaTimApp.wypozyczone.ksiazka">Ksiazka</span></dt>
                <dd>
                    <span *ngFor="let ksiazka of wypozyczone.ksiazkas; let last = last">
                        <a [routerLink]="['/ksiazka-my-suffix', ksiazka?.id, 'view' ]">{{ksiazka.tytul}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/wypozyczone-my-suffix', wypozyczone.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
